
/* Font Definitions */
h1 {
    font-size: 3em;
}

/* Body */

body {
    background-color: #283572;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Source Sans Pro', 'Fira Sans', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Default Primitives */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-item {
    position: relative;
    margin: 10px;
}

a {
    color: #78c6ef;
}

button {
    font-family: 'Source Sans Pro', 'Fira Sans', 'Helvetica', sans-serif;
    font-size: 18px;
    text-decoration: none;
    background: white;
    border-color: white;
    color: #00609f;
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
    border-width: 2px;
    border-style: solid;
    transition: 0.5s;
}
button:hover {
    background-color: #00609f;
    color: white;
    transition: 0.5s;
}

/* Objects */
.warning {
    background: #6f0000;
    padding: 14px 30px;
}

/* Content Blocks*/
.block {
    padding: 1px 5%;
}

.block-hero {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #071930 url("../media/bg-march-blue-dark.jpg");
    background-size: cover;
}

#video {
    text-align: center;
}

#quotes {
    padding: 0 12%;
    text-align: center;
    font-size: 1.1em;
}
#quotes blockquote {
    padding-top: 35px;
    padding-bottom: 35px;
}
#quotes blockquote::before{
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  color: #999;
}

#events {
    padding: 1px 12% 35px;
    text-align: center;
    background: #0e203a;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background: black;
}

#footer img {
    width: 20px;
    padding: 0px 2px 0px 2px;
}

#satellite {
    display: flex;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #131313 url("../media/bg-march-black.jpg");
    background-size: cover;
}

blockquote.block {}

.hero {
    text-align: center;
}

.text {
    font-family: 'Source Sans Pro', 'Fira Sans', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
a.leftside {
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
a.rightside {
    text-align: right;
    float: right;
    margin-right: 5%;
    color: white;
}
.textlarge {
    font-family: 'Source Sans Pro', 'Fira Sans', 'Helvetica';
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.41);
}
.textmedium {
    font-family: 'Source Sans Pro', 'Fira Sans', 'Helvetica';
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.41);
}
.header {
    height: 100px;
    width: 100%;
    line-height: 100px;
    background: -webkit-linear-gradient(top, rgba(30, 30, 30, 0.4), rgba(255, 255, 255, 0));
    position: absolute;
    /*top: 0;*/
}
.vertical {
    vertical-align: middle;
    display: table-cell;
}
.content {
    margin-top: 110px;
    margin-bottom: 110px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero-inner {
    padding: 20px;
}


.btn-div {
    margin-top: 50px;
}
